@use '../../../sass/general/variables' as v;

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;

  .modalHeading {
    font-size: 3rem;
    line-height: 35px;
  }

  .modalText {
    margin-top: -30px;
    font-weight: 600;
  }

  .modalButton {
    color: v.$blanco;
    background-color: v.$primario;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: v.$secundario;
    }
  }
}
