@use "../../../sass/general/variables" as v;

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: v.$negro;
  background-color: v.$gris_secundario;
  width: 350px;
  height: 180px;
  position: relative;
  margin-bottom: 150px;
  transition-property: transform;
  transition-duration: 300ms;

  &:hover {
    background-color: v.$primario;
    color: v.$negro;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;

   path {
      fill: v.$blanco;
      transition: 0.2s ease-in-out;
    }
    
    .shopText {
      color: v.$blanco;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }

    .categoryImg {
      animation: float 0.65s infinite alternate ease-in-out;
    }

    @keyframes float {
      0% {
        bottom: 70px;
      }
      100% {
        bottom: 87.5px;
      }
    }
  }

  .categoryImg {
    width: 220px;
    position: absolute;
    bottom: 70px;
  }

  .categoryTitle {
    position: absolute;
    top: 110px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .shopText {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 135px;
    text-transform: uppercase;
    color: v.$gris;
    font-size: 15px;
    font-weight: 600;
  }

  .shopIcon {
    width: 8px;
  }

  .shopButtonContainer {
    display: flex;
    justify-content: center;
  }
}
