@use "../../../sass/general/variables" as v;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$gris_secundario;
  width: 125px;

  .button {
    all: unset;
    color: v.$gris;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
      background-color: v.$negro;
      color: v.$gris_secundario;
      transition: 0.3s;
      transform: scale(1.1);
    }
  }

  .counter {
    font-weight: 600;
  }

  @media (max-width: 435px) {
    width: 100%;
  }
}
