.cartTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 5px 0;

    .totalText {
      text-transform: uppercase;
    }

    .totalPrice {
      font-weight: 700;
      font-size: 18px;
    }
  }