@use '../../../sass/general/variables' as v;

.footerNav {
    display: flex;
    align-items: center;

    .footerUl {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    .navLink {
        display: flex;
        text-transform: uppercase;
        font-size: 14px;
        color: v.$blanco;
        font-weight: 500;
    }

    .navLink:hover {
        color: v.$primario;
    }

    @media (max-width: 580px) { 
        .footerUl {
            flex-direction: column;
            align-items: center;
        }
    }

}


