//COLORES
$primario: #D87D4A;
$secundario: #FBAF85;
$negro: #101010;
$gris: #838282;
$gris_secundario: #F1F1F1;
$blanco: #FFFFFF;
$blanco_secundario: #FAFAFA;
$alert: crimson;

// MEDIA QUERIES
$phone: 340px;
$tablet: 768px;
$desktop: 1441px;
